

.header
{
    text-align: center;
    padding: 10px;
    margin-bottom: 50px;
    background-color:  #0056d2;
}

#mainDiv
{
    margin: 0;
    padding: 0;
}


#mainContainer
{
    background-color:  #092d60;
    font-family: sans-serif;
    /* text-align: center; */
    color: white;
    margin: 0;
    padding: 0;
}

.divs
{
    background-color:  #0056d2;
    padding-bottom: 30px;
}

.divs h2
{
    /* margin-top: 50px; */
}

.divs p
{
    /* margin-top: 20px; */
    font-size: 30px;
}


Form{
    margin: auto;
    margin-top: 50px;
    width: 400px;
}


.footer
{
    text-align: center;
    padding: 20px;
    margin: 0;
}

.footerText
{
    margin: auto;
}